* {
    background-color: rgb(255, 252, 249)
}

#recipe-header {
    color: rgb(29, 35, 85);
    background: rgb(255, 246, 234);
    font-size: 100px;
    font: "Times New Roman";
    font-style: italic;
    text-align: center;
}

.list-links {
    color: darkblue;
    font-size: 30px;
    font: "calibri";
}